# Конфигурация сервера
SERVER_PORT=8080
SERVER_HOST=0.0.0.0

# Конфигурация Telegram бота
TELEGRAM_BOT_SERVICE=http://109.107.182.160:8082

# Конфигурация фронтенда
FRONTEND_HOST=http://109.107.182.160
# FRONTEND_HOST=http://127.0.0.1
FRONTEND_PORT=8081

# Конфигурация базы данных
DB_DRIVER=sqlite
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=calc_example
DB_SSLMODE=disable

# Конфигурация логирования
LOG_LEVEL=info 